# Compiled class file
*.class

#Compiled directories
out/*
target/*

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Certain IDEA directories and files
.idea/libraries/*
.idea/artifacts/*
.idea/inspectionProfiles/*
.idea/datasources/*
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/workspace.xml
.idea/tasks.xml
*.iml